{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - Elenco Soci {% endblock head_title %}

{% block content %}

<div class="container">
    <h2 id="idelencosoci" style="position:absolute;opacity:0;" >Elenco Soci</h2>
</div>
<h2>core></h2>

<br>
<h5>for socio in lista soci...</h5>
{% for socio in lista_soci %}
<ul>
    <li>{{ socio.last_name}} * {{ socio.first_name }} <br>
        <a class="tab2">>>{{ socio.descrizione }}</a>
    </li>
</ul>
{% endfor %}

<br>
<h5>for socio in lista soci SQL test...</h5>
{% for socio in lista_soci %}
<ul>
    <li>{{ socio.last_name}} * {{ socio.first_name }} <br>
        <a class="tab2">>>{{ socio.descrizione }}</a>
    </li>
</ul>
{% endfor %}

<br>
<h5>table soci...</h5>
<table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Carica</th>
      </tr>
    </thead>

    <tbody>
{% for socio in lista_soci %}
      <tr>
        <td>{{ socio.first_name}}</td>
        <td>{{ socio.last_name}}</td>
        <td>{{ socio.descrizione}}</td>
      </tr>
{% endfor %}
      <tr>
    </tbody>
  </table>



{% endblock content %}
